<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>my love</h1>
        <h6><a href="{% url 'pspk:parveen'%}">goto parveen </a></h6>
        <h6><a href="{% url 'rrr:uma'%}">goto uma </a></h6>
        <h6><a href="{% url 'rrr:vamsi'%}">goto vamsi</a></h6>

    </center>
</body>
</html>